.profile__avatar {
    object-fit: cover;
    width: 190px;
    height: 190px;
    border-radius: 8px;
}

.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
}

.profile__avatar-btn {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  visibility: hidden;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__avatar-btn::after{
  content: "Edit Avatar";
}


.profile__add-btn {
    margin-left: auto;
    width: 149px;
    height: 52px;
    margin-top: auto;
    background-color: #212121;
    color: #fcf5e5;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.profile__add-btn:hover {
    cursor: pointer;
    opacity: 80%;
    transform: scale(1.05);
}

.profile__add-btn-img {
  margin-right: 8px;
}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__edit-btn {
    margin-top: auto;
    font-weight: 500;
    padding: 0;
    opacity: 70%;
    border: none;
    background-color: transparent;
    display: flex;
    color: #212121;
    transition: all 0.3s ease;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
  transform: scale(1.05); 
}


.profile__description {
    margin: 0;
    color: #212121b2;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.profile__name {
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
    color: #212121;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__add-btn {
    width: 288px;
    margin: 0;
    justify-content: center;
    height: 52px;
  }

  .profile__edit-btn {
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom:0 0 6px;
    max-width: 288px;

  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__avatar-btn {
    visibility: visible;
  }

  .profile__avatar-btn::after {
    content: "";
  }
}